* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

#navandcontent {
  display: grid;
  grid-template-columns: auto 90vw auto;
}

#contentDiv {
  width: 90vw;
  margin-left: 0.5vw;
}

#btnContainer {
  display: grid;
  grid-template-rows: auto;
  justify-items: end;
  margin-top: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
}

#darkModeBtn {
  width: 3rem;
  height: 3rem;
}

#darkModeImg {
  width: 2rem;
  height: 2rem;
}

#darkModeBtn,
#darkModeImg {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#darkModeBtn:hover {
  background-color: darkgrey;
  transition: all 0.5s;
}

.mode,
.mode a:not(.navSelection) {
  color: black;
  text-decoration: none;
  background-color: white;
  transition: 2s;
}

.darkMode,
.darkMode a:not(.navSelection) {
  color: white;
  text-decoration: none;
  background-color: rgb(42, 52, 57);
  transition: 2s;
}

.mode hr {
  border: 2px solid black;
  border-radius: 5px;
}

.Darkmode hr {
  border: 2px solid white;
  border-radius: 5px;
}
