/* Work Sans wght 300 (for description) */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

#Properties p,
#Properties li {
  font-family: "Work Sans", sans-serif;
  font-size: x-large;
  text-align: justify;
}

#Imgs {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  align-items: center;
  margin-top: 10vh;
}

#Periodic,
#Periodic img {
  width: 30rem;
  height: 30rem;
  margin: 0;
  padding: 0;
}

#Lewis {
  width: 30rem;
  height: 30rem;
  position: relative;
  left: 10rem;
  top: 4rem;
}

#Lewis img,
#Lewis figcaption {
  display: none;
  width: 20rem;
  height: 20rem;
}

#Periodic:hover ~ #Lewis img {
  display: grid;
  align-items: center;
  width: 20rem;
  height: 20rem;
}

#Periodic:hover ~ #Lewis figcaption {
  display: grid;
  text-align: center;
  font-size: x-large;
  margin-top: 10px;
}
