@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap");

#footerContainer {
  display: grid;
  grid-template-columns: auto auto;
}

.credits {
  font-family: "Source Sans Pro", sans-serif;
  font-size: xx-large;
}

#date {
  text-align: end;
}
