/* Quicksand wght 400 (for intro) */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
/* Oswald wght 500 (for title) */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
/* Dosis wght 500 (for elements' names) */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");
/* Work Sans wght 300 (for description) */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

#title {
  font-family: "Oswald", sans-serif;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

#intro {
  font-family: "Quicksand", sans-serif;
  font-size: xx-large;
  margin-bottom: 0;
  text-align: justify;
}

#elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 10vh;
  font-family: "Dosis", sans-serif;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 0;
}

#elements a:hover {
  color: gray;
  transition: 0.5s;
}

#elementsImg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  margin-bottom: 5vh;
}

#elementsImg img {
  width: 20rem;
  height: 20rem;
}

#line {
  width: 15vw;
}

.refs {
  font-family: "Work Sans", sans-serif;
  font-size: 4rem;
  text-align: justify;
  height: 54vh;
}
