/* Pacifico (for Welcome and enjoy) */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/* Raleway (for description and sideNav) */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

#wlc,
#enjoy {
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  text-align: center;
}

#descp,
#sideNav {
  font-family: "Raleway", sans-serif;
  font-size: 3.1rem;
}
