/* Roboto 700wght */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.navSelection {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  text-decoration: none;
  color: black;
  height: 8vh;
  margin-top: 3vh;
  font-family: "Roboto", sans-serif;
  font-size: x-large;
}

.navSelection:hover {
  background-color: darkgrey;
  transition: 2s;
}

#navSection {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.5vw;
  margin: 0;
  padding: 0;
}

.navHidden,
.nav {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, 4vw);
  height: 100vh;
  transition: 1s;
  z-index: 1;
  border-radius: 5px;
}

.nav {
  width: 1px;
  overflow-x: hidden;
}

.navHidden {
  width: 15vw;
  overflow-x: hidden;
  background-color: grey;
}

.toggleBtn {
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-top: 1vh;
}

.toggleBtn:hover {
  background-color: darkgrey;
  transition: all 0.5s;
}

.toggleImg {
  height: 2rem;
  width: 2rem;
}
